body{
    margin: 0;
    padding: 0;
    background-color: bisque;
    
    
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer{
    width: 40vw;
    height: 400px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 15px 15px 100px 15px;
}

form{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

label{
    font-family: fantasy;font-size: 12px;
}

input{
    margin-top: 3px;
    width: 80px;
    height: 30px;
    display: block;
    border: 1px solid black;
    outline: none;
    border-radius: 3px;
    padding: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
input::placeholder{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input:hover,
input:focus{
    border: 1px solid rgb(75, 35, 255);
    
}


